a{text-decoration:none!important;}
header{background:#f5b71f;padding: 8px 0 5px 0;}
ul,ol{margin:0;}
.navbar-default {
	 background:none; 
	 border:none; 
}
.navbar-collapse {
	 padding-right:0; 
	 padding-left:0; 
	
}
.nav.navbar-nav.navi li.dropdown a{background:none;}
.nav.navbar-nav.navi li.dropdown a:hover,a:focus,a:active
{border-color:#fff;}
.dropdown-menu > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
	border-color:#f5b71f !important;
	
}
.dropdown-menu::before {
	border-bottom: 22px solid red;
	/* width: 82px; */
	/* height: 85px; */
	content: "";
	/* border-bottom: 27px solid red; */
	position: relative;
	top: -41px;
	left: -53px;
	z-index: 9999;
	/* background: red; */
	/* border-top: 28px solid transparent; */
	border-right: 10px solid transparent;
	border-bottom: 20px solid #f5b71f;
	border-left: 9px solid transparent;
}
	






.dropdown-menu {
	position: absolute;
	top: 38px;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 195px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #f5b71f;
	/* -webkit-background-clip: padding-box; */
	/* background-clip: padding-box; */
	/* border: 1px solid #ccc; */
	/* border: 1px solid rgba(0,0,0,.15); */
	/* border-radius: 4px; */
	/* -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175); */
	/* box-shadow: 0 6px 12px rgba(0,0,0,.175); */
}
/*header end*/


.logo{width: auto;

max-width: 60px;

float: left;}
.logo2{width: auto;

max-width: 144px;

float: left;}
.navbar-nav {
	float: right;
	margin: 14px 0;
}
.navbar{margin-bottom:0;}
.navi li a {
	color: #fff !important;
	font-size: 15px;
	
	border-radius: 6px;
	margin: 0px 4px;
	font-weight: bold;
	padding: 0;
	display: inline-block;
}
.navi >li 
{
	border: 1px solid #fff;
    padding: 7px 9px 5px 7px;
    margin: 0 10px 0px 0;
    border-radius: 20px;
}
.navi li> .icon_nav
{
	background: url(../images/icons/home_icon.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 20px;
vertical-align: top;
    width: 20px;
}
.navi li.about .icon_nav{
	background: url(../images/icons/tag_icon.png);
	width: 23px;
}
.navi li.service .icon_nav{
	background: url(../images/icons/hand_icon.png);
}
.navi li.insights .icon_nav{
	background: url(../images/icons/file_icon.png);
}
.navi li.success .icon_nav{
	background: url(../images/icons/user_icon.png);
}
.navi li.faq .icon_nav{
	background: url(../images/icons/question_icon.png);
}
.navi li.contact .icon_nav{
	background: url(../images/icons/login_user.png);
} 

.login a {
	background: url(../images/login.png)no-repeat 60px center;
	background-size: 19px;
	
	font-size: 15px;
	float: left;
	padding: 6px 37px 4px 13px;
}
.cart a{background: url(../images/cart.png)no-repeat 53px center;
background-size:21px;
	padding: 7px 37px 2px 12px;
	font-size: 15px;}	

/*young proffesional page start*/
.main-helping h2{color:#229897;font-weight:bold; font-size:32px; margin:4% 0;}
.main-helping h4 {
	color: #229897;
	font-weight: bold;
	font-size: 1.5em;
	
	float: left;
	width: 100%;
	margin:60px 0 49px 0;
}

.main-helping h5{color:#229897
; font-weight:bold;text-align:center; font-size:25px;   min-height: 54px; margin: 21px 0 33px 0;}
.main-helping h5 span{color:#73942f;}
.box1 {
	width: 100%;
	max-width: 300px;
	border: 4px solid #229897;
	border-radius: 45px;
	padding: 11px 0px 0 0;
	font-size: 27px;
	text-align: center;
	color: #229897;
	margin: auto;
	font-weight: bold;
}
.box1 p{padding: 10px 34px;}
.box1 a{
	color: #229897;
	width: 100%;
	display: block;
	text-decoration: underline;
	font-style: italic;
}
.box2 {
	width: 100%;
	max-width: 300px;
	border: 4px solid #73942f;
	border-radius: 45px;
	padding: 11px 0px 0 0;
	font-size: 27px;
	text-align: center;
	color: #73942f;
	margin: auto;
	font-weight: bold;
}
.box2 a{color: #73942f;
	width: 100%;
	display: block;
	text-decoration: underline;
	font-style: italic;}
.box2 p{padding: 10px 34px;}
/*young proffesional page end*/
/*institute page start*/
.main-helping h3 {
	color: #229897;
	font-weight: bold;
	font-size: 2.3em;
	float: left;
	width: 100%;
	margin: 2% 0;
}
.main-helping p{font-size:21px;}



/*institute page end*/


/*company page start*/
.compny-footer{margin: 4% 0;}
.compny-footer img{width:auto;max-width:100px;}
.border {
	border-top: 1px solid #000;
	display: block;
	width: 33%;
	margin: auto;
	padding: 12px 0;
}
.cta-solve {
	color: #229897;
	font-size: 13px;
	text-align: center;
	width: 175px;
	float: left;
}
p.section-pra {
	width: 100%;
	max-width: 92px;
	font-size: 17px;
	margin: auto;
	color: #229897;
}


.hours-title{width:100%; float:left;}
.cta-solve {
	color: #979780;
	font-size: 16px;
	text-align: center;
	width: 100%;
	float: left;
	padding: 21px 0 0 0;
}
/* company page end*/





/* responsive */

@media screen and (max-width: 992px) and (min-width: 320px){

.navbar-header {
	margin: auto !important;
	width: 100%;
	max-width: 289px;
	float: none;
	
}
.navbar-nav {
	float: left;
	margin: 14px 0;
}}

/*responsive*/

.main-helping .row ul li img{margin: 0 16px 0px 0;}
.main-helping .row ul li {list-style: none;    padding: 0 0 23px 0;}
.main-helping .row  ul li  label{font-size: 16px;font-weight: normal;max-width: 211px;    vertical-align: middle;
    line-height: 17px;}
.main-helping .row .green_box ul li  label{color: #229897;}
.main-helping .row .dark_green ul li  label{color: #618524;}
.main-helping .row .dark_green h5{color: #618524;}
.home-cta-wrapper.young_profes .cta-home .cta-img{min-height: auto;    padding: 0px 0 21px 0;}
.home-cta-wrapper.young_profes .cta-home{width: 20%;}