a{text-decoration:none!important;}
header{background:#348786;padding: 8px 0 5px 0;}
ul,ol{margin:0;}
.navbar-default {
	 background:none; 
	 border:none; 
}
.navbar-collapse {
	 padding-right:0; 
	 padding-left:0; 
	
}
.nav.navbar-nav.navi li.dropdown a{background:none;}
.nav.navbar-nav.navi li.dropdown a:hover,a:focus,a:active
{border-color:#fff;}
.dropdown-menu > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
	border-color:#f5b71f !important;
	

}
.navbar-nav li.dropdown ul li a
{
	border:0;border-radius: 5px;display: block;margin:0;position: relative;font-size: 14px;text-align: left;
}
.navbar-nav li.dropdown ul li a.sub_menu:after
{
	position: absolute;
    content: '';
    background-image: url(../images/arrow_icon_menu.png);
    right: 9px;
    top: 8px;
    color: #fff;
    height: 14px;
    width: 13px;
    background-repeat: no-repeat;

}
.navbar-nav li.dropdown ul li a.sub_menu:hover:after
{
	background-position: 0 -15px;
}
.navbar-nav li.dropdown.open >a
{
	background: #fff !important;
	color: #348786!important;
}
.navbar-nav li.dropdown ul
{
	border:0;
	box-shadow: none;
}
.navbar-nav li.dropdown ul li
{
	background: #348786;
	padding: 0px 9px 0 9px;
}
.navbar-nav li.dropdown ul li:first-child
{
	padding: 9px 9px 0 9px;	
}
.navbar-nav li.dropdown ul li:last-child
{
	padding-bottom: 9px;
}
.dropdown-menu::before {
	border-bottom: 22px solid red;
	/* width: 82px; */
	/* height: 85px; */
	content: "";
	/* border-bottom: 27px solid red; */
	position: relative;
	top: -17px;
	left: 20px;
	z-index: 9999;
	/* background: red; */
	/* border-top: 28px solid transparent; */
	border-right: 5px solid transparent;
	border-bottom: 20px solid #348786;
	border-left: 5px solid transparent;
}
	






.dropdown-menu {
	position: absolute;
	top: 33px;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 213px;
	padding: 11px 0 0 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color:transparent;
	/* -webkit-background-clip: padding-box; */
	/* background-clip: padding-box; */
	/* border: 1px solid #ccc; */
	/* border: 1px solid rgba(0,0,0,.15); */
	/* border-radius: 4px; */
	/* -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175); */
	/* box-shadow: 0 6px 12px rgba(0,0,0,.175); */
}
/*header end*/


.logo{width: auto;

max-width: 60px;

float: left;}
.logo2{width: auto;

max-width: 144px;

float: left;}
.navbar-nav {
	float: right;
	margin: 14px 0;
}
.navbar{margin-bottom:0;}
.navi li a {
	color: #fff !important;
	font-size: 15px;
	border-radius: 20px;
	border: 1px solid #fff;
	padding: 7px 9px 5px 7px;
	min-width: 100px;
	text-align: center;
	margin: 0px 4px;
	font-weight: normal;
	transition: all 0.3s ease-in-out;
	display: inline-block;
}
.navi li a:hover
{
	background-color: #fff!important;
	color: #348786 !important;
	transition: all 0.3s ease-in-out;
	
}
.navi li a:hover .icon_nav{background-position: 0 -20px;}
.navi li.about a:hover .icon_nav{background-position: 0 -19px;}
.navi li.service a:hover .icon_nav{background-position: 0 -19px;}
.navi li.insights a:hover .icon_nav{background-position: 0 -19px;}
.navi li.success a:hover .icon_nav{background-position: 0 -18px;}
.navi li.faq a:hover .icon_nav{background-position: 0 -19px;}
.navi >li 
{
	
    margin: 0 5px 0px 0;
   
}
.navi li> a .icon_nav
{
	background: url(../images/icons/home_icon.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 20px;
vertical-align: top;
    width: 20px;
}
.navi li.about .icon_nav{
	background: url(../images/icons/tag_icon.png);
	width: 23px;
}
.navi li.service .icon_nav{
	background: url(../images/icons/hand_icon.png);
}
.navi li.insights .icon_nav{
	background: url(../images/icons/file_icon.png);
}
.navi li.success .icon_nav{
	background: url(../images/icons/user_icon.png);
}
.navi li.faq .icon_nav{
	background: url(../images/icons/question_icon.png);
}
.navi li.contact .icon_nav{
	background: url(../images/icons/login_user.png);
} 

.login a {
	background: url(../images/login.png)no-repeat 88% center;
	background-size: 19px;
	font-weight: normal;
	font-size: 15px;
	float: left;
	padding: 8px 37px 4px 13px;
}
.login a:hover
{
	background-color: #348786;
	color: #fff;
}
.cart a:hover
{
	background-color: #348786;
	color: #fff;
}
.cart a{background: url(../images/cart.png)no-repeat 50px center;position: relative;
background-size:21px;
	padding: 7px 37px 2px 12px;font-weight: normal;    margin: 2px 0 0 0;
	font-size: 15px;}	
	.cart a span
	{
		position: absolute;
		background: #348786;
		color: #fff;
		right: -3px;
		top: -7px;
		font-size: 13px;
		padding: 3px 3px 3px 1px;
		border-radius: 100%;
		width: 23px;
		text-align:center;
		height:23px;
	}
/*young proffesional page start*/
.main-helping h2{color:#229897;font-weight:bold; font-size:29px;font-family: 'MyriadPro-Semibold'; margin:0;padding: 0 0 39px 0;text-align: center;}
.main-helping h4 {
	color: #229897;
	font-family: 'MyriadPro-Semibold';
	font-size: 23px;
	padding: 11px 0 9px 0;
	float: left;
	width: 100%;
	margin:0;
}

.main-helping h5{color:#229897
; font-weight:bold;text-align:center; font-size:26px;  font-family: 'MyriadPro-Semibold'; min-height: 54px; margin: 21px 0 0px 0;}
.main-helping h5 span{color:#73942f;}
.box1 {
	width: 100%;
	max-width: 300px;
	
	border-radius: 45px;
	padding: 11px 0px 0 0;
	font-size: 27px;
	text-align: center;
	color: #229897;
	margin: auto;
	font-weight: bold;
}
.box1 p{padding: 10px 34px;}
.box1 a{
	color: #229897;
	width: 100%;
	display: block;
	text-decoration: underline;
	font-style: italic;
	font-size: 19px;
    padding: 7px 0 0 0;
}
.box2 {
	width: 100%;
	max-width: 300px;
	
	border-radius: 45px;
	padding: 11px 0px 0 0;
	font-size: 27px;
	text-align: center;
	color: #73942f;
	margin: auto;
	font-weight: bold;
}
.box2 a{color: #73942f;    font-size: 19px;
    padding: 7px 0 0 0;
	width: 100%;
	display: block;
	text-decoration: underline;
	font-style: italic;}
.box2 a:hover
{
	color:#229897;
}
.box1 a:hover
{
	color:#4f8231;
}
.box2 p{padding: 10px 34px;}
/*young proffesional page end*/
/*institute page start*/
.main-helping h3 {
	color: #229897;
	font-weight: bold;
	font-size: 2.3em;
	float: left;
	width: 100%;
	margin: 2% 0;
}
.main-helping p{font-size:21px;font-family: 'MyriadPro-Semibold';}



/*institute page end*/


/*company page start*/
.compny-footer{margin: 4% 0;}
.compny-footer img{width:auto;max-width:100px;}
.border {
	border-top: 1px solid #000;
	display: block;
	width: 33%;
	margin: auto;
	padding: 12px 0;
}
.cta-solve {
	color: #229897;
	font-size: 13px;
	text-align: center;
	width: 175px;
	float: left;
}
p.section-pra {
	width: 100%;
	
	font-size: 17px;
	margin: auto;
	color: #229897;
}


.hours-title{width:100%; float:left;}
.cta-solve {
	color: #979780;
	font-size: 16px;
	text-align: center;
	width: 100%;
	float: left;
	padding: 21px 0 0 0;
}
/* company page end*/





/* responsive */

@media screen and (max-width: 992px) and (min-width: 320px){

.navbar-header {
	margin: auto !important;
	width: 100%;
	max-width: 289px;
	float: none;
	
}
.navbar-nav {
	float: left;
	margin: 14px 0;
}}

/*responsive*/

.main-helping .row ul li img{margin: 0 16px 0px 0;}
.main-helping .row ul li {list-style: none;    padding: 0 0 23px 0;}
.main-helping .row  ul li  label{font-size: 16px;font-weight: normal;max-width: 211px;    vertical-align: middle;
    line-height: 17px;}
.main-helping .row .green_box ul li  label{color: #229897;}
.main-helping .row .dark_green ul li  label{color: #618524;}
.main-helping .row .dark_green h5{color: #618524;}
.home-cta-wrapper.young_profes .cta-home .cta-img{min-height: auto;    padding: 0px 0 21px 0;}
.home-cta-wrapper.young_profes .cta-home{width: 20%;}



.form-signin {
    max-width: 100%; 
    margin: 0 auto;
    padding:42px 28px 19px 28px;
  }

  .social-box{
    margin: 0 auto;
    padding: 38px;
    border-bottom:1px #ccc solid;
  }
  .social-box a{
    font-weight:bold;
    font-size:18px;
    padding:8px;
  }
  .social-box a i{
    font-weight:bold;
    font-size:20px;
  }
  .heading-desc{
      font-size:17px;
     text-align: center;
     margin:0;
     background: #229897;
     color: #fff;
     padding: 10px;
   }
  .login_wrapper
  {
    max-width: 346px; 
    margin: 0 auto;
    border:1px solid #229897;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: 20px;
    padding: 20px;
    border:1px solid #229897;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    box-shadow: none;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="text"] {
    margin-bottom: 22px;
    border-radius: 5px;
    
  }
  .login-footer .btn-danger
  {
    padding: 7px 40px 6px 40px;
    font-size: 18px;
    background: #229897;
    border: none;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-radius: 5px;
  }
  .signu_div
  {
    width: 100%;float: left;text-align: center;
  }
  .signu_div span{font-size: 15px;display: inline-block;}
  .signu_div a{font-size: 17px;display: inline-block;color:#229897;}
  .login-footer{
    padding: 12px 0 0 0;
      margin: 0 auto;
     
  }
  .left-section{text-align: center;padding: 11px 0 7px 0}
  .left-section span{font-size: 15px;display: inline-block;font-size: 15px;
    display: inline-block;
    font-weight: bold;
    color: #8a8a8a;}
  .left-section a{font-size: 15px;color:#ccc;font-weight: normal;display: inline-block;}
  .login-footer .left-section a{
	  font-weight:bold;
	  text-decoration: underline!important;
      color:#8a8a8a;
      line-height:19px;
  }
  .mg-btm{
      margin-bottom:20px;
  }

  .check_box input[type=checkbox].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
  }

  .check_box input[type=checkbox].css-checkbox + label.css-label {
    padding-left: 25px;
    height: 20px;
    display: inline-block;
    line-height: 13px;
    background-repeat: no-repeat;
    background-position: 0 0;
    font-size: 12px;
    vertical-align: top;
    cursor: pointer;
    text-align: left;
    font-weight: normal;
    color:#8a8a8a;

  }

  .check_box input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -20px;
  }
  .check_box label.css-label {
background-image:url(../images/check_box_icon.png);
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.cart_wrapper
{
  width: 100%;float: left;    margin:0;
}
.cart_wrapper h3{font-size: 29px;color: #73942f;margin:0;font-family: 'MyriadPro-Semibold';}
.cart_detail{width:100%;float: left;}
.cart_detail .cart_price_title{text-align: right;color: #73942f;font-size: 20px;display: block;    padding-right: 0px;text-transform: uppercase;font-family: 'MyriadPro-Semibold';}
.cart_detail ul li{display: inline-block;vertical-align: top;}
.cart_detail ul{margin-bottom: 20px;margin-left: 0;}
.cart_detail ul:last-child
{
	margin: 0;
}
.cart_repeat{border-top:1px solid #ccc;border-bottom: 1px solid #ccc;width: 100%;float: left;padding: 17px 0 16px 0;}
.cart_detail .cart_icon img{width: auto;}
.cart_detail .cart_icon{       min-width: 103px; max-width: 103px;border:1px solid #229897;text-align: center;    border-radius: 19px;
    padding: 12px 6px;}
.cart_detail .cart_icon span{display: block;color:#229897; word-wrap: break-word; line-height: 18px;  font-size: 16px; font-family: 'MyriadPro-Semibold';padding:7px 0 0 0; }
.cart_label h4{margin:0;color: #229897;font-size: 	19px;  font-family: 'MyriadPro-Semibold';  line-height: 21px;}
.check_box {padding: 0 0 16px 17px;}
.cart_label a{color: #999;font-size: 16px;    padding: 4px 0 0 0;
    display: inline-block;}
.cart_label a:hover{color: #229897;}
.cart_detail .cart_label{width: 70%;padding:17px 0 0 18px	;}
.cart_detail .cart_money{width: 15%;text-align:right;float: right; padding: 20px 0 0 0;}
.cart_detail .cart_money span{font-weight: bold;color:#229897;font-size: 18px;   }
.cart_detail a.View_cart{    background: #229897;
    color: #fff;
    font-size: 16px;
    display: inline-block;
    padding: 7px 15px 3px 15px;
    border-radius: 5px;  float:right;
	margin: 12px 0 0 0;}
.cart_detail a.View_cart:hover{background: #73942f;}
.card_price{text-align: center;      max-width: 300px;float: right; padding:27px 0px 0 0px;}
.card_price label{color: #229897;font-size: 20px;display: block;padding: 0 0 7px 0;font-family: 'MyriadPro-Semibold';}
.card_price a{background: #229897;
    color: #fff;
    font-size: 23px;
    display: inline-block;
    padding: 8px 15px 6px 15px;
	border-radius: 7px;}
.price_cart{width:100%;float: left;border:1px solid #229897; margin: 10px 0 0 0;   border-radius: 24px;
    padding:27px 0 33px 0;}
.card_price span{font-size: 20px;color: #229897;font-style: italic;}
.card_price a:hover{background: #73942f;}
.our_recomanded{width: 100%;float: left;text-align: center;padding: 15px 0 0 0;}
.our_recomanded h4{font-size: 23px;font-family: 'MyriadPro-Semibold';color: #73942f;   margin: 0 0 8px 0;text-align: left;}
.recomended_title {width: 100%;float: left;background: #229897;text-align: center;padding: 10px 10px 8px 10px;
	border-radius: 10px;}
	.recomended_title  > img{float: right;}
.recomended_title label {font-size: 17px;font-weight:normal;color: #fff;vertical-align: top;    padding: 2px 6px 0 0;font-family: 'MyriadPro-Semibold';}
.recomended_title label span{display: block;}
.recomended_price {width: 100%;float: left;text-align: center;padding: 9px 0 0 0;}
.our_recomanded ul li{display: inline-block;list-style: none;margin-right: 40px;    width: 21%;}
.our_recomanded ul li:last-child{margin-right: 0px;}
.our_recomanded ul {padding: 32px 0 0 0;}
.recomended_price label{color: #229897;font-size: 23px;display: block;font-family: 'MyriadPro-Semibold';}
.recomended_price a{background: #229897;
    color: #fff;
    font-size: 14px;
    display: inline-block;
    padding: 7px 15px 3px 15px;
    border-radius: 5px;  
	}
.recomended_price a:hover{background: #73942f;}
.login_container {margin: 130px 0 117px 0;}
.home-cta-wrapper .home_cta_title{color: #229897;font-size: 25px;font-weight: bold;text-align: center;margin:0;} 
.home-cta-wrapper .home_cta_sub_title{color: #229897;font-size: 25px;font-weight: bold;text-align: center;margin: 0;padding: 15px 0 30px 0;font-family: 'MyriadPro-Semibold';} 
.education_container{width: 100%;float: left;}
.title_main h3{color: #229897;font-size: 29px;text-align: center;padding:0 0 32px 0;margin:0;font-family: 'MyriadPro-Semibold';}
.title_main h4{color: #229897;font-size: 25px;margin:0;font-family: 'MyriadPro-Semibold';}
.our_journy{width: 100%;float: left;}
.our_journy p{font-size: 18px;color: #222;margin:0;padding: 8px 0px 0 0;}
.our_journy .student-journey{margin-top:37px;}
.our_journy .journey1-list ul li .list-text{font-size: 18px;color: #222;}
.our_journy .journey2-list ul li .list-text{font-size: 18px;color: #222;}
.our_journy .journey1-list ul li .list-icon{width: auto;}
.our_journy .student-journey-inner .journey1-list ul li{    padding: 0 0 26px 0;}
.our_journy .journey2-list ul li .list-icon{width: auto;}
.our_journy .student-journey-inner .journey2-list ul li{ padding: 0 0 26px 0;}
.our_journy .journey1-list, .journey2-list{ float: left;
    width: 100%;}
.jpurny_title_logo{width: 100%;float: left;text-align: right;    padding-right: 56px;}
.jpurny_title_logo_Second{width: 100%;float: left;text-align: left;    padding-left: 39px;}
.jpurny_title_logo img {
    margin: 30px 15px;
}
.jpurny_title_logo_Second img {
    margin: 30px 15px;
}
.journy_block{width: 100%;float: left;    margin: 27px 0 0 0;}
.journy_block ul{border: 1px solid #bfbfbf;padding: 29px;border-radius: 56px;}
.journy_block .jpurny_text{    color: #229897;padding: 0 0 28px 0;
    font-size: 26px;font-family: 'MyriadPro-Semibold';
	margin: 0;}
.journy_block .journey1-list h3{color: #73942f;padding: 0 0 28px 0;
    font-size: 29px;font-family: 'MyriadPro-Semibold';text-align: center;
	margin: 0;}
.journy_block .journey2-list h3{color: #229897;padding: 0 0 28px 0;font-size: 29px;margin: 0;font-family: 'MyriadPro-Semibold';text-align: center;}
.transform_journy h3{color: #229897;padding: 30px 0 35px 0;font-size: 26px;margin: 0;font-family: 'MyriadPro-Semibold';}
.transform_image{text-align:center;width: 100%;float: left;    margin: 0 0 47px 0;}
.transform_image img{border:1px solid #bfbfbf;padding:20px;border-radius: 37px;}
.classroom_div{width: 100%;float: left;text-align: center;}
.classroom_div h3{text-align:center;color: #229897;padding: 0 0 28px 0;font-size: 26px;margin: 0;text-align: left;font-family: 'MyriadPro-Semibold';}
.classroom_div h4{font-family: 'MyriadPro-Semibold';color: #73942f;padding: 0 0 28px 0;font-size: 23px;margin: 0;text-align: left;}
.classroom_div ul li{list-style: none;display: inline-block;text-align: center;padding: 0;min-width: 203px;}
.classroom_div ul li span{display: block;color: #73942f;font-size: 20px;padding: 11px 0 0 0;font-family: 'MyriadPro-Semibold';}
.classroom_div.out_side h4{color: #229897;}
.classroom_div.out_side ul li span{color: #229897;}
.classroom_div.out_side{padding: 32px 0 0 0;}
.partnering_div{width: 100%;float: left;    text-align: center;
    padding: 46px 0 21px 0;}
.partnering_div h3{color: #229897;padding: 0 0 28px 0;font-size: 25px;margin: 35px 0 0 0;text-align: left;font-family: 'MyriadPro-Semibold';}
.partn_wrapper {max-width:699px;text-align: center;margin: 0 auto;padding-top:40px;}
.partn_wrapper ul li{display: inline-block;list-style: none;padding: 0 0 32px 0;position: relative;}
.partn_wrapper ul li .arrow{position: absolute;}
.partn_wrapper ul li .arrow.first{    top: -12px;left:107px;}
.partn_wrapper ul li .arrow.second{    top: -12px;right: 116px;}
.partn_wrapper ul li .arrow.third{top: 49px; right: 245px;}
.partn_wrapper ul li .arrow.third img{max-width: none;}
.partn_wrapper ul li.imporved{width: 100%;}
.partn_wrapper ul li.ranking{width: 100%;}
.partn_wrapper ul li.ranking .inner_block{padding-top: 45px;}
.partn_wrapper ul ul li:first-child{float: left;}
.partn_wrapper ul ul li{float: right;}
.partn_wrapper ul ul{width: 100%;float: left;position: relative;}
.partn_wrapper ul ul .arrow.third{    position: absolute;right: 0;left: 0;top: 56px;}
.partn_wrapper ul li .inner_block{background: #229897;display: inline-block;color: #222;height: 150px;width: 150px;border-radius: 100%;font-size: 20px;text-align: center;padding: 23px 15px 0 15px;}
.engament_model{width:100%;float: left;}
.engament_model h3{color: #229897;padding: 0 0 28px 0;font-family: 'MyriadPro-Semibold';font-size: 26px;margin: 26px 0 0 0;text-align: left;}
.engament_model ul{position: relative;width: 100%;float: left;}
.engament_model ul:after{content: "";background: #229897;width: 84%;height: 2px;position: absolute;left:0;right: 17px;margin:auto;top: 154px;}
.engament_model ul li{position: relative;display: inline-block;list-style: none;text-align: center;width: 160px;    padding: 20px 0 0 0;    margin: 154px 0 0 0;vertical-align: top;}
.engament_model ul li:after{content: "";width: 20px;height: 20px;background: #229897;border-radius: 100%;position: absolute;    top: -9px;right: 0;left: 0;margin: auto;}
.engament_model ul li label{display: block;color: #229897;font-size: 20px;margin:0;font-family: 'MyriadPro-Semibold';}
.engament_model ul li span{display: block;color: #222;font-size: 18px;}
.engament_model ul li.top_li{margin:0;}
.engament_model ul li.top_li:after{bottom:-42px;top: auto;}
.engament_model ul li.top_li span{min-height: 75px;}
.leader_shipt_div{width: 100%;float: left;}
.leader_shipt_div h3{color: #229897;padding: 44px 0 28px 0;font-size: 26px;font-family: 'MyriadPro-Semibold';margin: 0;text-align: left;}
.team_photo{text-align: center;width: 100%;float: left;}
.team_description{width: 100%;float: left;text-align: center;}
.team_description h3{color: #229897;font-size: 25px;margin: 0 0 8px 0;text-align: left;border-bottom: 1px solid;display: inline-block;padding: 14px 0 0px 0;}
.team_description span{font-size: 18px;color: #222;display: block;}
.contact_Details_team{width: 100%;float: left;text-align: center;padding: 20px 0 28px 0;}
.contact_Details_team label{color: #229897;font-size: 18px;display: block;font-weight: normal;}
.company_work{width:100%;float: left;text-align: center;}
.company_work h3{color: #229897;padding: 0 0 28px 0;font-size: 25px;margin: 0;text-align: center;}
.company_work ul li{list-style: none;display: inline-block;text-align: center;padding: 0 10px;}
.team_container{width: 100%;float: left;padding: 20px 0 0 0;}

/* company pages here */
.comany_conainer{width: 100%;float: left;}
.company_left{width: 85%;float: left;}
.company_left h3{color: #777;font-size: 29px;    margin: 0 0 14px 0;font-family: 'MyriadPro-Semibold';}
.company_left ul li{display: block;font-size: 19px;    padding: 0 0 12px 36px;background-image: url(../images/dot_black.png);background-repeat: no-repeat;background-position: 16px 9px;}
.company_left ul li span{color: #229897;}
.buy_now{width: 100%;float: left;}
.buy_now a{background: #229897;font-size: 25px;display: block;text-align:center;color:  #fff; padding: 13px 0 9px 0;
	border-radius: 12px;font-family: 'MyriadPro-Semibold';}
.buy_now ul{background: #f1aa35;    padding:16px 23px 15px 23px;margin: 11px 0 0 0;width: 100%;
    list-style: none;display: inline-block;
    border-radius: 14px;}
.buy_now ul li{color: #fff;font-size: 17px;}
.buy_now ul li span{font-weight: normal;font-size: 15px;display: block;}
.buy_now ul  h2{color: #fff;font-size: 22px;margin:0;    margin: 0 0 7px 0;}
.buy_now ul  h3{color: #fff;font-size: 16px;margin:0;  text-align: center;  margin: 0 0 7px 0;}
.buy_now ul li{    background-image: url(../images/onetoone_icon.png);
    background-repeat: no-repeat;
    padding: 0 0 12px 45px;
    
    background-position: 0px 2px;
	min-height: 57px;}
.buy_now ul li.onepage{background-image: url(../images/one_page_item.png);}
.buy_now ul li.companies10 {background-image: url(../images/compition_icon.png);}
.how_We_contaner{width: 100%;float: left;text-align: center;    margin: 31px 0 0 0;background: #e7e7e7;padding: 48px 0 44px 0;}
.how_We_contaner h3{color: #777;font-size: 29px;    margin: 0 0 18px 0;text-align: left;text-align: center;color: #348786;font-family: 'MyriadPro-Semibold';}
.how_We_contaner ul li{list-style: none;display: inline-block;width: 16%;text-align: center;padding: 0 10px;vertical-align: top;position: relative;}
.how_We_contaner ul li span{font-size: 15px;color: #222;font-style: italic;min-height: 63px;display: inline-block;}
.how_We_contaner ul li .arrow_big{position: absolute;
    background-image: url(../images/arrow_big.png);
    right: -30px;
    top: 14px;
    width: 23px;
    height: 26px;
	background-repeat: no-repeat;}
.how_We_contaner ul li:last-child .step_up .arrow_big{display: none;}
.how_We_contaner ul li span.step_up .inner_pro_text{    display: table-cell;vertical-align: middle;}
.how_We_contaner ul li span.step_up{background: #348786;color: #fff;font-size: 17px;display: table;width: 92%;padding:5px 6px 2px 6px;font-family: 'MyriadPro-Semibold';   font-style: normal;
	border-radius: 8px;margin:0px 0 26px 0;min-height: 54px;position: relative;}
	.how_We_contaner ul {    padding: 21px 0 0 0;}
	.icon_wrapper{width: 100%;float: left;    padding: 0;}
.key_outcomes{width: 100%;float: left;text-align: center;    padding: 45px 0 0 0;}
.key_outcomes ul{    padding: 20px 0 20px 0;}
.key_outcomes h3{color: #777;font-size: 29px;    margin: 0 0 14px 0;text-align: left;font-family: 'MyriadPro-Semibold';}
.key_outcomes ul li{display: inline-block;text-align: center;width: 22%;    padding: 0 10px;vertical-align: top;}
.key_outcomes ul li span{font-size: 17px;color: #222;display: block;padding: 11px 0 0 0;font-family: 'MyriadPro-Semibold';}
.our_recomanded.product_recomnd h4{color: #777;font-size: 29px;}
.our_recomanded.product_recomnd {    margin-top: 16px;}
.diffrent_container{width: 100%;float: left;}
.diffrent_block{width: 100%;float: left;text-align: center;border: 1px solid #229897;border-radius: 23px;margin: 29px 0 0 0;  padding: 24px 21px 20px 21px;}
.diffrent_container h3{font-size: 29px;font-family: 'MyriadPro-Semibold';color: #229897;text-align: center;    margin: 0;padding: 0 0 11px 0;}
.diffrent_block h4{font-size: 20px;color: #229897;margin: 16px 0 12px 0;font-family: 'MyriadPro-Semibold';}
.diffrent_block p{font-size: 15px;color: #222;}
.mbatek_strory{width: 100%;float: left;}
.mbatek_strory h3{font-size: 29px;color: #229897;text-align: center;margin:0;padding: 0 0 11px 0;font-family: 'MyriadPro-Semibold';}
.mbatek_strory h4{font-size: 23px;color: #229897;font-family: 'MyriadPro-Semibold';    padding: 15px 0 13px 0;margin:0;}
.mbatek_strory p span{color: #229897;}
.mbatek_strory p {font-size:16px;}
.mbatek_strory p.relevent_upper_text {margin: 40px 0 0 0;}
.mbatek_strory ul li{text-align: center;display: inline-block;list-style: none;padding: 0 30px;}
.mbatek_strory ul li span{display: block;font-size: 20px;color: #229897;    padding: 9px 0 0 0;font-family: 'MyriadPro-Semibold';}
.mbatek_strory ul{text-align: center;    margin: 50px 0 0 0;}
.stry_text{width: 100%;float: left;
	padding: 10px 0 0 0;}
.we_diffrent_container{width: 100%;float: left;margin-top: 50px;}
.stry_text .journey1-list{margin-top: 0;}
.stry_text .journy_block ul{margin-top: 0;}
.stry_text .journy_block ul li span{display: inline-block;font-size: 16px;text-align: left;padding: 0;}
.stry_text .journy_block ul li span.list-icon{width: auto;min-width: auto;}
.stry_text .journy_block .journey2-list{margin-top: 0;}
.stry_text .journy_block ul li { padding: 0 0 16px 0;}
.stry_text .journy_block ul{border:none;padding-top: 0;}
.addtional_container{width: 100%;float: left;}
.addtional_container p{font-size: 16px;}
.addtional_container p span{color: #229897;}
.addtional_container ul {    text-align: center;
	margin: 50px 0 0 0;}
	.addtional_container ul li{text-align: center;
		display: inline-block;
		list-style: none;
		padding: 0 35px;}
.addtional_container ul li span{    display: block;
    font-size: 20px;
    color: #229897;
	padding: 9px 0 0 0;}
.transfor_process{width: 100%;float: left;margin: 32px 0 0 0;}
.transfor_process h3{    font-size: 23px;
    color: #229897;
	text-align: left;margin:0 0 12px 0px;}
	.transfor_process p{font-size: 16px;line-height: 29px;
		margin:6px 0 0 0;}
	.transfor_process p span{color: #229897;}
.mbatrek_arrow{width: 100%;float: left;text-align: center;    margin: 40px 0 0 0;}
.mbatrek_arrow ul li{display: inline-block;list-style: none;width: 28%;position: relative;padding: 0;}
.mbatrek_arrow ul li span{display: block;color: #229897;font-size: 20px;padding: 9px 0 0 0;}
.mbatrek_arrow ul li.relevent_li span{color: #73942f;}
.mbatrek_arrow ul li .arrow_track{position: absolute;top:39px;right: -44px;}
.adjusting_div{width: 100%;float: left;    margin: 40px 0 0 0;}
.adjusting_div .home-cta-wrapper .home_cta_title{text-align: left;font-size: 26px;padding:0 0 24px 19px; }
.comany_conainer .buy_now .gd_ul li{background: none;padding-left: 0;}
.li_wrap{display: inline-block;vertical-align: middle;min-width: 38px;
    margin: 3px 10px 0px 0;
}
.li_Text_wrap{display: inline-block;  vertical-align: middle;  max-width: 260px;}
.how_We_contaner .gd_ul_ul .icon_wrapper{padding: 10px 0;}
.how_We_contaner .step_up.padding-top-7{padding-top: 17px;}
.how_We_contaner .four_line{min-height: 86px;}
.how_We_contaner .interview_section li{width: 18%;}
.home_mainheading{width: 100%;float: left;}
.home_mainheading h2{font-size: 29px;text-align: center;color: #348786;margin:0;padding: 0 0 20px 0;font-family: 'MyriadPro-Semibold';}
.home_mainheading h3{font-size: 29px;text-align: center;color: #348786;font-style: italic;margin:0;    padding: 0 0 49px 0;font-family: 'MyriadPro-Semibold';}
.journy_block .journey1-list ul li .list-text{color: #73942f;}
.journy_block .journey1-list ul li .list-text .list-text-title{color: #73942f;}
.ready_section{width: 100%;float: left;background: #e7e7e7;    padding: 0 0 37px 0;    margin: 51px 0 19px 0;}
.diffrent_block.bulid_capblity >img{margin:0 0 14px 0;}
.diffrent_block.bielve_in >img{margin:0 0 8px 0;}
.adjusting_div .home-cta-wrapper h3{    padding: 0 0 18px 0px;}
.student-cta1-bottom-sub-title .old_price{    text-decoration: line-through;}
.student-cta1-bottom-inner .read-more a{color: #fff;}
.right-choice-inner1 {
    width: 100%;
    float: left;
    margin: 38px 0 0 0;
}
.card_price .promocode{    padding: 5px 0 0 0;
	display: inline-block;font-size: 16px;}
.order_div{width: 100%;float: left;}
.order_div a:hover
{
	background: #348786;
}
.order_div a{color: #fff;
    font-size: 20px;
    display: inline-block;
    font-weight: normal;
    width: 48%;
    border-radius: 8px;background: #73942f;
	margin: 11px 0 0 0;}
	.order_div a:first-child{
		margin:0 10px 0 0;
	}
	.comany_conainer .buy_now .gd_ul li:last-child {
		padding-bottom: 0;
		min-height: auto;
	}
.intro_Container{width: 100%;float: left;}
.into_heading{width: 100%;float: left;padding: 0 0 26px 0;}
.intro_wrapper img{float: right;    margin: 0 0 20px 20px;
    border: 1px solid #348786;
    padding: 2px;}
.into_heading h2{font-size: 29px;color: #348786;font-family: 'MyriadPro-Semibold';display:block;    padding: 6px 0 0 0;margin:0;}
.into_heading a{display:inline-block;vertical-align:top;margin:6px 0 0 0px;}
.intro_wrapper{width: 100%;float: left;}
.intro_wrapper p span{color: #348786;}
.intro_wrapper p{font-size: 16px;line-height:27px;    text-align: justify;}
.intro_wrapper ul li{display:inline-block;list-style:none;    padding: 0 20px;}
.intro_wrapper ul{text-align:center;padding:32px 0 0 0;}
.intro_wrapper ul li label{display:block;padding:9px 0 0 0;font-weight:normal;}
.intro_wrapper ul li span{display:block;padding:9px 0 0 0;}
.intro_wrapper ul li img{margin:0;float:none;display:inline-block;width:38px;border:none;padding:0;}
.company_left .gd_ul .li_wrap{display:none;}
.company_left .gd_ul .li_Text_wrap{max-width:none;}



 
.dropdown-menu > li.kopie > a {
    padding-left:5px;
}
 
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:-6px;margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
 }
  

 
.dropdown-submenu:hover>a:after {
    border-left-color:#555;
 }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  text-decoration: none;
}  
  
@media (max-width: 767px) {

  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #ccc;
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }

}
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
}  
.collapse .nav .dropdown.service  .dropdown.dropdown-submenu .dropdown-menu{display:none!important;padding-top: 6px;    margin-left: 2px;}
.collapse .nav .dropdown.service  .dropdown.dropdown-submenu .dropdown-menu:before{display:none;}
.collapse .nav .dropdown.service  .dropdown.dropdown-submenu:hover .dropdown-menu{display:block!important;}
.collapse .nav .dropdown.service .dropdown-menu .dropdown.dropdown-submenu  .dropdown-menu .dropdown.dropdown-submenu .dropdown-menu{display:none!important;}
.collapse .nav .dropdown.service .dropdown-menu .dropdown.dropdown-submenu  .dropdown-menu .dropdown.dropdown-submenu:hover .dropdown-menu{display:block!important;}
.step_professional{width: 100%;float: left;padding: 47px 0 161px 0;}
.step_professional .arrow_step{position: absolute;width: 39px;height: 26px;top:43px;display: inline-block;right: -36px;background-image: url(../images/arrow_step_ahead.png)}
.step_professional .arrow_step.two{right: -17px;}
.step_professional .arrow_step.three{right: -45px;}
.step_professional .arrow_step.four{right: -17px;}
.step_professional ul li{list-style: none;display: inline-block;width: 32%;text-align: center;vertical-align: top;text-align: center;position: relative;}
.step_professional ul li label{display: block;font-family: 'MyriadPro-Semibold';font-size: 18px;margin: 15px 0 0 0;}
.step_professional ul li img{vertical-align: top;}
.step_professional .setp_up_left label{color: #348786;}
.step_professional .setp_up_right label{color: #73942f;}
.step_professional .setp_up_right ul li:last-child .arrow_step{display: none;}
.setp_up_left{width: 100%;float: left;}
.step_professional .setp_up_right{position: relative;}
.step_professional .setp_up_left{position: relative;}
.brecket_div img{width: 100%;}
.brecket_div{width: 205px;right: 79px;position: absolute;bottom: -135px;text-align: center;}
.brecket_div span{display: inline-block;font-family: 'MyriadPro-Semibold';font-size: 18px;}
.step_professional .setp_up_right .brecket_div{left: 69px;right: auto;}
.step_professional .setp_up_right .brecket_div span{color:#73942f;}
.step_professional .setp_up_left .brecket_div span{color:#348786;}
.spirit .center-block{padding:5px;background:#ccc;border-radius:10px;}
.marathon .center-block{padding:5px;background:#ccc;border-radius:10px;}
.row.first_year h4{padding:51px 0 0 0;}
.row.face_many h4{padding:8px 0 33px 0;}
.row.face_many h5{font-size:19px;  line-height: 24px;  min-height: 77px;padding: 0 0 28px 0;}
.row.career_planning h4{padding:22px 0 22px 0;}
.row.career_planning .cta-home .cta-link1{background:none;}
.row.career_planning .arrow-icon{margin:0 0 6px 0;}
.row.career_planning .arrow-icon.icon_2{margin:48px 0 0px 0;}
.home-cta-wrapper.young_profes .student-cta1-bottom .student-cta1-bottom-inner {padding-bottom:25px;}
.home-cta-wrapper.young_profes .student-cta1-bottom .student-cta1-bottom-inner .student-cta1-bottom-sub-title .new-price{display:block;padding:7px 0 0 0;line-height: 32px;}
.home-cta-wrapper.young_profes .student-cta1-bottom .student-cta1-bottom-inner .student-cta1-bottom-sub-title{padding:10px 0 2px 0;}
.student-top.young_top .icon-text{padding: 14px 25px;}
.student-top.young_top .icon-holder .icon.icon-holder{    margin: 34px 0 0 0;max-width: 135px;}
.student-top.young_top .icon.yound_need_help{margin-right:25px;max-width:15%;margin-top:30px;}
.need_help{width:100%;float:left;}
.need_help span{font-weight:normal;font-size:15px;}
.need_help span a{color:blue;}

.contact_container_page{width: 100%;float: left;}
.contact_info_div{width: 100%;float: left;    margin: 21px 0 0 0;}
.form-field_input{width: 100%;float: left;}
.form-field_input input[type="text"]{border:1px solid #ccc;color: #999;font-size: 15px;width: 100%;padding: 9px 12px;}
.maine_contact_heading{width: 100%;float: left;text-align: center;}
.maine_contact_heading h2{font-size: 29px;font-family: 'MyriadPro-Semibold';color: #348786;margin:0;padding: 0 0 12px 0;}
.maine_contact_heading h3{font-size: 29px;font-family: 'MyriadPro-Semibold';color: #348786;margin:0;    padding: 0 0 30px 0;}			
.are_yu{width: 100%;float: left;text-align: left;    padding: 17px 0 0 0;}
.are_yu ul li{display: inline-block;padding:0 19px 0px 0;}
.are_yu ul li:last-child{padding-right: 0;}
.are_yu label{font-size: 16px;color: #999;font-weight: normal;}
.are_yu ul{display: inline-block;max-width: 494px;    padding-left: 20px;}
.are_yu ul .check_box label{font-size: 16px!important;font-weight: normal;color: #999!important;line-height: 17px!important;}
.are_yu ul .check_box {padding:0;max-width: 101px;}
.form-field_input textarea{font-size: 15px;color: #222;width: 100%;border:1px solid #ccc;resize: none;padding: 9px 12px;min-height: 180px;}
.google_information{width: 100%;float: left;text-align: center;}
.gogle_map{width: 100%;float: left;}
.gogle_map img{width: 332px;}
.google_map_info{max-width: 332px;text-align: left;display: inline-block;}
.google_map_info h3{font-size: 20px;    padding: 13px 0 3px 0;}
.google_map_info label{font-size: 16px;color: #348786;font-weight: normal;    margin: 0 0 3px 0;}
.margin-0{margin:0;}
.capcha_div{width: 100%;float: left;  margin: 28px 0 0 0;}
.submit_form_btn{width: 100%;float: left;text-align: center;}
.submit_form_btn a{border:1px solid #348786;display: inline-block;color: #fff;background: #348786;font-size: 22px;padding: 8px 24px 7px 25px;    margin: 13px 0 0 0;border-radius: 10px;}
.submit_form_btn a:hover{color: #348786;background: #fff;border:1px solid;}
.faq_new_container{width: 100%;float: left;}
.faq_new_container h3{font-size: 29px;font-family: 'MyriadPro-Semibold';color: #348786;margin:0;padding: 0 0 12px 0;text-align: center;    line-height: 35px;}
.faq_new_container h4{font-size: 18px;font-family: 'MyriadPro-Semibold';color: #999;margin:0;padding: 0 0 12px 0;text-align: center;    line-height: 35px;}
/*------------FAQ Page Css----------*/
.faq_Container{width:100%;float:left;margin:37px 0 0 0;}
.faq_Container .accordion li p{font-size: 16px;color: #999;font-weight: normal;}
.faq_Container .submenu {display: none;background:#000;}
.faq_Container .accordion .link{font-size:17px;font-weight:normal;color:#348786;cursor: pointer;}
.faq_Container .accordion >li{padding:0 0px 11px 0;margin:0 0px 11px 0;list-style:lower-latin;font-size:20px;font-weight:600;color:#348786;border-bottom:1px dashed #ddd;}
.faq_Container .accordion >li:last-child{border-bottom:none;}
.faq_Container .accordion{padding:0 0 0 21px;}
.faq_Container .accordion .submenu li{list-style:none;}
.faq_Container .accordion >li.open .link .minus_icon{background-position:0px -23px;} 
.faq_Container .accordion .submenu {background:none;}
.faq_Container .accordion .submenu p {padding:5px 0 0 0}
.faq_Container span.minus_icon{background-image:url('../images/plus.png');height: 22px;width: 21px;display: inline-block;vertical-align: top;float: right;margin: 4px 0 0 0;background-position:0 0;background-repeat:no-repeat;}
.usefull_Faq{width:100%;float:left;}
.usefull_Faq span{font-size:16px;color:#333;}
.usefull_Faq ul li a{background:#02a829;color:#fff;font-size:16px;display:inline-block;padding:6px 22px 5px 22px;}
.usefull_Faq ul li:last-child a{background:#ff0404;}
.usefull_Faq ul{display:inline-block;padding: 0 0 0 4px;}
.main_heading.faq_hdng{margin:27px 0 14px;}
.tabbable-panel{width:100%;float:left}
.faq_Container .tabbable-panel .nav li {background: #348786;margin:0 1px 0px 0;}
.faq_Container .tabbable-panel .nav li a{border-radius:0;border:none;margin:0;font-size: 17px;font-weight: normal;color: #fff;}
.faq_Container .tabbable-panel .nav li.active a{background:#73942f;color:#fff;border:none;}
.faq_Container .tabbable-panel .nav li a:hover{background:#73942f;margin-right:0;}
.faq_Container .tabbable-panel .tab-pane{margin-top:15px;}
.fq_footer{width: 100%;float: left;text-align: center;}
.fq_footer label{font-size: 17px;    margin: 9px 0 0 0;}
.fq_footer label span{color: #348786;}
.fq_footer label span.color_span{color: #124cb4;}
/*------------Blog Css----------*/
.blog_new_container{width: 100%;float: left;}
.blog_header{width: 100%;float: left;padding: 20px 0 20px 0;}
.header_btn{width: 100%;float: left;text-align: center;}
.header_btn a{border:1px solid;display: inline-block;color: #fff;background: #b1b1b1;font-size: 17px;font-family: 'MyriadPro-Semibold';    padding: 10px 20px 10px 20px;    border-radius: 7px;}
.header_btn a.active_high{background: #348786;}
.header_btn a:hover{border:1px solid;color: #348786;background: #fff;}
.blog_container {width: 100%;float: left;}
.blog_container h3{text-align:center;font-size: 29px;font-family: 'MyriadPro-Semibold';color: #348786;margin:0;padding: 40px 0 32px 0;}
.banner_area.blogs{background-image:url('../images/Blog.jpg');}
.banner_area.blogs .container{display:none;}
.our_blog{width:100%;float:left;}
.blog_block{width:100%;float:left;position:relative;margin-bottom:40px;}
.blog_block >ul{background:rgba(255,255,255,0.9);top:38px;position:absolute;padding:0 8px;}
.blog_block >ul li{border-bottom:1px solid #000;padding:9px 0 7px 0;}
.blog_block> ul li:last-child{border-bottom:none;}
.blog_block >ul span{font-weight:700;display:block;font-size:26px;color:#dd991a;}
.blog_block >ul span.month_blog{color:#333;font-size:19px;}
.blog_block >ul span.comment_blog{color:#dd991a;font-size:26px;}
.blog_img{width:100%;float:left;border:1px solid #ccc;}
.blog_img img {width: 366px;height: 299px;}
.blog_content{width:100%;float:left;text-align:center;}
.blog_info{width:92%;padding:10px;box-shadow: 0px 3px 4px 2px #ccc;-moz-box-shadow: 0px 3px 4px 2px #ccc;-webkit-box-shadow: 0px 3px 4px 2px #ccc;display:inline-block;text-align:left;background:#fff;position:relative;margin:-13px 0 0;}
.blog_info:after{content:"";position:absolute;border:12px solid #fff;top:-24px;left:19px;border-right:12px solid transparent;border-left:12px solid transparent;border-top:12px solid transparent;}
.blog_info> a{font-size:21px;color:#333;font-weight:600;vertical-align:middle;height: 60px;display: table-cell;}
.blog_info p{line-height:19px;font-size:16px;color:#666;padding: 5px 0 8px 0;}
.blog_btn{width:100%;float:left;border-top:1px solid #e2e2e2;padding:13px 0 0;}
.blog_btn .site_btn{width: 100%;}
.blog_btn .site_btn a{line-height: 28px; padding: 4px 0 0;text-transform:capitalize;font-weight:normal;background: #348786;color: #fff;font-size: 17px;padding: 10px 20px 7px 20px;    border-radius: 6px;display: inline-block;}
.blog_pegination{width:100%;float:left;padding: 0 0 0 10px;}
.blog_pegination ul li span{font-size:15px;color:#666;font-weight:600;}
.blog_pegination ul li a{font-size:15px;color:#666;font-weight:600;border:1px solid #ddd;padding:4px 8px 3px;border-radius:3px;}
.blog_pegination ul li a:hover{background:#09afb7;color:#fff;border:1px solid transparent;}
.blog_pegination ul li a.active{border:1px solid transparent;background:#09afb7;color:#fff;}
.main_heading.blog_heading{margin:27px 0 14px;}
.blog_details{width:100%;float:left;}
.blog_header{width:100%;float:left;}
.blog_header img{border:1px solid #ddd;width:100%;}
.blog_heading{width:100%;float:left;}
.blog_heading ul li span{font-size:16px;font-weight:400;color:#555;padding:3px 0 2px 37px;background-repeat:no-repeat;display:inline-block;}
.blog_heading ul li span.posted_by{background-image:url('../images/posted_by.png');}
.blog_heading ul li span.posted_on{background-image:url('../images/posted_on.png');}
.blog_heading ul li{padding: 0 35px 0 0px;}
.blog_heading h2{font-size:28px;font-weight:600;padding:0 0 9px 0;}
.share_post{width:100%;float:left;margin:19px 0 0; padding: 0 0 19px;border-bottom:1px solid #dadada;}
.share_post ul li a{font-size:16px;font-weight:400;color:#555;padding:9px 0 7px 52px;background-repeat:no-repeat;display:inline-block;}
.share_post ul li a.comment_post{background-image:url('../images/comment_icon_blog.png');}
.share_post ul li {vertical-align:top;padding: 0 35px 0 0px;}
.share_post ul li:last-child{background-image:url('../images/share_post.png');color:#555;padding:0 0 0 42px;font-size:16px;    background-repeat: no-repeat;}
.share_post ul li:last-child >a{padding:5px 0 5px 5px;}
.share_post ul li:last-child  .jssocials-shares .jssocials-share {display: inline-block;}
.share_post ul li:last-child  .jssocials-shares .jssocials-share a {padding:0px 4px 0px 5px;}
.share_post ul li:last-child  .jssocials-shares .jssocials-share a i {background: #DD991A;color: #fff;padding: 5px 0px 6px 0px;width: 27px;
text-align: center;border-radius: 2px;}
.share_post ul li:last-child  .jssocials-shares .jssocials-share a i:hover{background:#09afb7;}
.post_information{margin:26px 0 0;width:100%;float:left;}
.jssocials-shares{padding:4px 0 4px 0;}
.leave_comment{width:100%;float:left;margin-top:20px;}
.leave_comment h2{font-weight:600;font-size:30px;}
.leave_comment_form{width:100%;float:left;margin:10px 0 0 0;}
.leave_comment_form .blog_btn{border:none;padding:0;}
.categories_container{width:100%;float:left;margin:29px 0 0 0;}
.block_catry{width:100%;float:left; margin-bottom: 20px;}
.block_catry ul li a{color:#555;font-size:16px;padding:0 0 17px 0;display:inline-block;}
.block_catry ul li a:hover{color:#09afb7;}
.block_catry ul li img{margin-bottom:11px;width:100%;}
.block_catry h2{text-transform:uppercase;padding:0 0 13px 0px;font-size:26px;font-weight:600;color:#09afb7;}
.comment_reply{width:100%;float:left;margin:40px 0 0 0;border-top:1px solid #ddd;padding-top:30px;}
.comment_reply .main_comment{font-size:30px;color:#333;padding:0 0 18px 0;}
.comment_reply h3{text-align: left;}
.login_to_comment{width:100%;float:left;border-bottom:2px solid #f2f2f2;padding:0 0 23px 0;margin:0 0 22px 0;}
.login_to_comment .site_btn{width: 184px;height: 43px;}
.login_to_comment .site_btn a{font-weight: 600;line-height: 31px;text-transform: capitalize;padding: 3px 0 0 0;}
.login_to_comment .login_comment{font-size:16px;display:inline-block;color:#666;margin:13px 0 0 21px;vertical-align:top;}
.login_to_comment .login_comment a{color:#09afb7;}
.comment_blocker{width:100%;float:left;}
.comment_repeat{width:100%;float:left;margin-bottom:25px;}
.image_commet{width:7%;float:left;}
.image_commet img{width:100%;border-radius:100%;}
.comment_data{width:93%;float:left;}
.comment_status{width:93%;float:left;padding:0px 0 0 15px;}
.comment_text{width:93%;float:left;padding:0 0 0 15px;}
.comment_text .reply_link{color:#09afb7;text-decoration:none;font-size:16px;padding:7px 0 0 0;}
.comment_text p{padding-top:10px;}
.comment_data h3{font-size:17px;color:#333;}
.comment_data .comment_date{font-size:15px;color:#777;padding:5px 0 0px 0;display:block;}
.reply_div{width:100%;float:left;background:#f2f2f2;padding: 20px;margin: 9px 0 0 0;}
.reply_div .comment_repeat{margin-bottom:0;}
.blog_new_container_details .blog_container .blog_details .blog_header{padding:0;    margin: 26px 0 0;}
.phAnimate {
    position: relative;
    margin-bottom: 25px;
}
.phAnimate label {
    cursor: text;
    margin: 0;
    padding: 0;
    left: 15px;
    top: 12px;
    position: absolute;
    font-size: 15px;
    color: #666;
    font-weight: 600;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.phAnimate label em {
    color: red;
    font-style: normal;
}
.phAnimate textarea {
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 0 2px #ddd inset;
    -moz-box-shadow: 0 0 2px #ddd inset;
    -webkit-box-shadow: 0 0 2px #ddd inset;
    -o-box-shadow: 0 0 2px #ddd inset;
    resize: none;
    min-height: 132px;
    color: #666;
    font-size: 15px;
    padding: 10px;
    font-weight: 600;
    position: relative;
    z-index: 9;
    background: transparent;
}
.phAnimate input {
    padding-left: 15px;
}
.input_field {
    border: 1px solid #ccc;
    min-height: 40px;
    width: 100%;
    box-shadow: 0 0 2px #ddd inset;
    -moz-box-shadow: 0 0 2px #ddd inset;
    -webkit-box-shadow: 0 0 2px #ddd inset;
    -o-box-shadow: 0 0 2px #ddd inset;
    font-size: 15px;
    font-weight: 600;
    color: #666;
    position: relative;
    background: transparent;
    z-index: 9;
    padding: 11px 0 7px 10px;
}
.phAnimate label.active.focusIn {
    color: #66afe9;
}
.phAnimate label.active {
    top: -15px;
    left: 0;
    font-size: 12px;
    color: #66afe9;
}
.contact_info_div .phAnimate{margin-bottom:0;}
/*------------End Blog Css----------*/

.ground_mbatrek{width: 100%;float: left;}
.ground_mbatrek h3{font-size: 29px;font-family: 'MyriadPro-Semibold';color: #348786;margin:0;padding: 40px 0 32px 0;}
.event_container{width: 100%;float: left;}
.event_container h4{font-size: 26px;text-align:center;font-family: 'MyriadPro-Semibold';color: #348786;    padding: 0 0 20px 0;margin:0;}
.eventbanner{width: 100%;float: left;}
.eventbanner img{width: 100%;}
.eventbanner p{color: #348786;font-weight: normal;font-size: 20px;padding: 16px 0 0 0;margin:0;}
.more_about_plan{width: 100%;float: left;    padding: 13px 0 0 0;}
.more_about_plan label{font-size: 26px;font-family: 'MyriadPro-Semibold';color: #999;}
.more_about_plan label a{color: #348786;}
.more_about_plan label a:hover{color: #f5b71f;}
.classroom_div.out_side ul li{}
.student-top.young_top .student-internship .pull-left{color: #348786;}
.student-top.young_top .student-placement .icon-text{color: #73942f;} 
.into_heading .name_Wrap{display: inline-block;vertical-align: top;margin:0 0 0 14px;}

/*------------Privacy plociy Css----------*/
.policy_container{width:100%;float:left;}
.policy_container .main_heading {margin: 27px 0 14px;}
.plocies_text{width:100%;float:left;}
.plocies_text h3{font-size:18px;font-weight:600;text-transform:uppercase;font-size:18px;color:#333;font-family: 'MyriadPro-Semibold';}
.plocies_text p a{color:#09afb7;font-weight:600;text-decoration:underline;}
.plocies_text p {padding-bottom:12px;    font-size: 17px;}
.plocies_text p span{color:#09afb7;font-size:16px;border-bottom:1px solid #09afb7;font-weight:600;}
.plocies_text .second_details p{padding-bottom:0;}
.plocies_text .second_details li{padding-bottom:4px; background-position: 0 7px;}
.plocies_text .second_details ul{padding-bottom:30px;}
.plocies_text .website_Text{padding-bottom:4px;}
.plocies_text .company_text{padding-bottom:30px;}
.creadit_container{width:100%;float:left;border:1px solid #09afb7;background:#f8f8f8;padding:26px 26px 20px;}
.creadit_container p{padding-bottom:4px;}
.creadit_container a{font-size:16px;color:#09afb7;font-weight:600;text-decoration:underline;display:inline-block;padding-bottom:25px;}
.main_heading h3.text_right{font-size: 29px;color: #348786;text-align: center;font-family: 'MyriadPro-Semibold';margin:0;}
.main_heading.privay_container h3{margin:0 0 19px 0;}
.add_to_Cart_div{width: 100%;float: left;    margin: 3px 0 3px 0;}
.add_to_Cart_div a{  display: inline-block;
    color: #fff;
    background: #73942f;
    font-weight: normal;
    font-size: 16px;
    padding: 8px 15px;
    border-radius: 6px;} 
/*------------End Privacy policy Css----------*/