/*
fonts
*/
@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('../fonts/MyriadPro-Regular.eot?') format('eot'), 
	     url('../fonts/MyriadPro-Regular.otf')  format('opentype'),
	     url('../fonts/MyriadPro-Regular.woff') format('woff'), 
	     url('../fonts/MyriadPro-Regular.ttf')  format('truetype'),
	     url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
}
@font-face {
	font-family: 'MyriadPro-Semibold';
	src: url('../fonts/MyriadPro-Semibold.eot?') format('eot'), 
	     url('../fonts/MyriadPro-Semibold.otf')  format('opentype'),
	     url('../fonts/MyriadPro-Semibold.woff') format('woff'), 
	     url('../fonts/MyriadPro-Semibold.ttf')  format('truetype'),
	     url('../fonts/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
}

@font-face {
	font-family: 'MyriadPro-Bold';
	src: url('../fonts/MyriadPro-Bold.eot?') format('eot'), 
	     url('../fonts/MyriadPro-Bold.otf')  format('opentype'),
	     url('../fonts/MyriadPro-Bold.woff') format('woff'), 
	     url('../fonts/MyriadPro-Bold.ttf')  format('truetype'),
	     url('../fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
}
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=3.2.1');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), 
         url('../fonts/fontawesome-webfont.woff?v=3.2.1') format('woff'), 
         url('../fonts/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), 
         url('../fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
    font-weight: normal;
    font-style: normal;
  }
*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}
a,a:active,a:focus
{
	outline:0!important;
}
html
{
	height:100%;
}
body{
    font-family: 'MyriadPro-Regular';
    font-weight: normal;
	min-height: 100%;
	position: relative;
	display: inline-block;
	padding-bottom: 151px;
	width:100%;
}
img{
    max-width: 100%;
    width: auto;
}
.logo{
    max-width: 90px;
    display: inline-block;
    vertical-align: top;
}
.logo-mba{
    max-width: 150px;
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    margin-left: 10px;
}
.header-top{
    padding: 9px 0;
    background: rgb(245,183,31);
}
nav ul li{list-style-type: none;}
nav li.dropdown ul li{float: left;width:100%; }
nav ul li a .icon{
    max-width: 21px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-left: 5px;
}
.header-bottom {
	background: #d0d0d0;
	padding: 6px 0;
}
.header-bottom-inner{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0 10px;
}
.social-icons {
	float: left;
	margin: 1px 0 0;
}
.social-icons ul li{
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
}
.social-icons ul li a {
	font-size: 0;
	height: 32px;
	width: 32px;
	display: inline-block;
	vertical-align: top;
	background-size: 100% 100% !important;
	margin: 0 4px;
}
.social-icons ul li a.youtube_icon i:hover{background:#FF0000;}
.social-icons ul li a.linked_icon i:hover{background:#2A7BB5;}
.social-icons ul li a.facebook_icon i:hover{background:#4267B2;}
.social-icons ul li a.twitter_icon i:hover{background:#1DA1F2;}
.social-icons ul li a.quora_icon i:hover{background:#B92B27}
.social-icons ul li a i
{
	font-size: 20px;
color: #fff;
background: #348786;
min-width: 37px;
text-align: center;transition: all 0.3s;
padding: 7px 0 7px 0;border-radius:2px;
}
.social-icons ul li a i:hover {
    /* font-size: 21px; */
    min-width: 40px;
}
.social-icons ul li a.ytube{
    background: url("../images/social_youtube.png");
}
.social-icons ul li a.in{
    background: url("../images/linkedin.png");
}
.social-icons ul li a.fbook{
    background: url("../images/fbook.png");
}
.social-icons ul li a.twitter{
    background: url("../images/twitter.png");
}
.social-icons ul li a.quora{
    background: url("../images/quora.png");
}
.login-cart{
    float: right;
}

.login-cart a{
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    border:1px solid #fff;
    border-radius: 18px;
    display: inline-block;
    vertical-align: middle;
   padding: 6px 10px 3px;
    text-transform: uppercase;
    text-decoration: none;
	
	
	/* color: #fff; */

}
.login-cart a:hover{
    color: #fff;
}
.login-cart a:focus{
    color: #fff;
}
.login-cart .icon{
    max-width: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    margin-top: -3px;
}
.login-cart .login{
    display: inline-block;position:relative;
    vertical-align: top;
    margin: 0;
}
.login-cart .login .profile_div
{
	position: absolute;
    top: 42px;
    left: 0;
    background: #348786;
    color: #fff;
    width: 176px;
    padding: 6px 0 5px 0 ;
    z-index: 9999;
	display:none;
}
.login-cart .login .profile_div ul{width:100%;float:left;}
.login-cart .login .profile_div ul li{list-style:none;}
.login-cart .login .profile_div ul li a:hover
{
	background:#fff;
	color:#348786;
}
.login-cart .login .profile_div ul li a
{
	background:none;
	border:none;
	padding: 6px 0px 3px  10px;
	border-radius:0;
	width:100%;
}
.login-cart .cart{
    display: inline-block;
    vertical-align: top;
    margin: 0 12px;
}
.cta-home-wrap{
    
    border-radius: 25px;
   
}
.cta-home{
    margin-bottom: 25px;
}
.cta-home .cta-link1{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 100%;
    background: #348786;
    border-radius: 20px;
    padding: 28px 0 17px 0;
}
.cta-home .cta-link1 .cta-img{
    min-height: 97px;
    display: inline-block;
    vertical-align: top;
}
.cta-home .cta-link1 .cta-img img{
    max-width: 120px;
}
.cta-home .cta-link1 .cta-title{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    color: #fff;
    font-weight: normal;
    font-size: 22px;
    padding:12px 0 0 0;
}
.cta-home .cta-body {
    background: #e7e7e7;
    vertical-align: top;
    margin: -24px 0 0 0;
    padding: 32px 9px 20px 10px;
    text-align: center;
}
.cta-home .cta-body h4 
{
    color: #000;
    line-height: 26px;
    font-size: 16px;
}

.cta-home .cta-body .cta-body-row {
   min-height: 100px;
}
.cta-home .cta-body .cta-body-row .body-icon{
    display: inline-block;
    vertical-align: middle;
    width: 25%;
}
.cta-home .cta-body .cta-body-row .body-text{
    display: inline-block;
    vertical-align: top;
    width: 63%;
    margin-left: 20px;
    font-size: 15px;
    line-height: 25px;
}
.cta-home .cta-link2{
    text-align: center;
}
.cta-home .cta-link2 a:hover {
    color: #4f8231;
}
.cta-home .cta-link2 a{
    color: rgb(34,152,151);
    text-decoration: underline!important;
    font-size: 18px;
     padding: 8px 5px 0 5px;
    display: inline-block;
    font-style: italic;
}
.cta-home .cta-link2 a:hover{
    text-decoration: none;
}
.home-cta-wrapper{width: 100%;float: left;}
main{
    padding: 45px 0 20px;
    width: 100%;display:inline-block;
}
footer{
    background: url("../images/footer-bg.png");
    background-size: 100% 149%;
    background-repeat: no-repeat;
    background-position: bottom center;
    width: 100%;
    position:absolute;
	bottom:0;
	
}
footer .footer-wrap{    
    display: inline-block;
    vertical-align: top;
    width: 100%;
    text-align: center;
}
footer .footer-logo{
    max-width: 74px;
    display: inline-block;
    vertical-align: top;
}
footer .footer-logo a svg {
    width: 74px;
    height: 71px;
}
.footer-wrap .footer-menu1{
   display: inline-block;
   vertical-align: top;
   padding-top: 110px;
}
.footer-wrap .footer-menu1 ul li{
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
}
.footer-wrap .footer-menu1 ul li a{
    text-transform: capitalize;
    color: #fff;    
    font-size: 16px;    
    padding: 0 7px;    
    font-weight: normal;
}
.footer-wrap .footer-menu1 ul li a:hover{
    text-decoration: none;
}
.footer-wrap .footer-logo-wrapper{
    display: inline-block;
    vertical-align: top;
    padding-top: 60px;
    max-width: 150px;
    margin: 0 30px;
}
.footer-wrap .footer-menu2{
    display: inline-block;
    vertical-align: top;
    padding-top: 110px;
}
.footer-wrap .footer-menu2 ul li{
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
}
.footer-wrap .footer-menu2 ul li a{
    text-transform: capitalize;
    color: #fff;    
    font-size: 16px;    
    padding: 0 7px;    
    font-weight: normal;
}
.footer-wrap .footer-menu2 ul li a:hover{
    text-decoration: none;
}
.copyright{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    font-size: 12px;
    color: #fff;
}
.cart{
    position: relative;
}
.cart-wrapper{
    position: absolute;
    top: 42px;
    right: 0;
    background: #348786;
    color: #fff;
    width: 280px;
    padding: 15px;
    z-index: 99;
    display: none;
}
.cart-heading{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    border-bottom: 2px solid #fff;
    margin-bottom: 15px;
    padding-bottom: 5px;
}
.cart-heading .cart-title{
    float: left;
}
.cart-heading .cart-price{
    float: right;
}
.items-inner{
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.items-inner .item-title{
    float: left;
}
.items-inner .item-price{
    float: right;
}
.container-cart input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.container-cart {
    display: block;
    position: relative;
    padding-left: 28px;
    font-weight: normal;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-cart input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
}

/* On mouse-over, add a grey background color */
.container-cart:hover input ~ .checkmark {
    background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.container-cart input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-cart input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-cart .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cart-wrapper .total{
    display: inline-block;
    vertical-align: top;
    width: 100%;
    border-top: 2px solid #fff;
    padding-top: 5px;
}
.cart-wrapper .total .total-title{
    float: left;
}
.cart-wrapper .total .total-price{
    float: right;
}
.student-top{
    text-align: center;
}
.student-top .icon-holder{
    max-width: 450px;
    margin: 0 auto;
}
.icon{
    float: left;
    max-width: 35%;
}
.icon-text{
    float: right;
    max-width: 64%;
}
.student-internship{
    color: rgb(115,148,47);
    margin-bottom: 30px;
}
.student-internship:hover .icon-text{background: rgb(115,148,47);color:#fff;}
.student-placement{
    color: rgb(34,152,151);
}
.student-placement:hover .icon-text{background: rgb(34,152,151);;color: #fff;}
.icon-title{
    font-size: 21px;
    line-height: 1.2;
    margin-top: 10px;
    display: inline-block;
   
	font-family: 'MyriadPro-Semibold';
}
.icon-text{
    border: 5px solid;
    border-radius: 45px;
    font-size: 22px;
    line-height: 1.5;
    margin-top: 10px;
    display: inline-block;
    
    padding: 38px 25px;
	font-family: 'MyriadPro-Semibold';
}
.student-internship a{
    color: rgb(115,148,47);
}
.student-placement a{
    color: rgb(34,152,151);
}
.student-placement a:hover{
    color: rgb(34,152,151);
}
.student-title{
    background:rgb(115,148,47);
    padding: 15px 0;
    margin-top: 50px;
}
.student-title-inner{
    font-size: 38px;
    color: #fff;
    font-weight: bold;
    text-align: center;
	font-family: 'MyriadPro-Semibold';
}
.student-journey{
    margin-top: 50px;
}
.student-journey-inner ul{
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
.student-journey-inner ul li {
	list-style-type: none;
	float: left;
	font-size: 16px;
	border-radius: 10px;
	color: #fff;
	display: table;
	height: 65px;
	width: 123px;
	font-weight: bold;
	padding: 0 10px;
	margin: 0 33px;
	position: relative;
}
.student-journey-inner ul li .journey-text{
    display: table-cell;
    vertical-align: middle;
    font-size: 15px!important;
	font-family:'MyriadPro-Semibold';
}
.journey-1 > ul li{
    background: rgb(115,148,47);
}
.journey-2 > ul li{
    background: rgb(34,152,151);
}
.journey-1{
    position: relative;
}
.journey-1::after{
    content: "";
    position: absolute;
    top: 103px;
    right: 48px;
    background: url("../images/journey-1-bg.jpg");
    width:297px;
    height: 37px;
    background-size: 100%;
}
.journey-1 .journey-title-bottom{
    font-family: 'MyriadPro-Semibold';
    margin-top: 81px;
    text-align: right;
    margin-right: 167px;
    font-size: 19px;
    font-weight: bold;
    color: rgb(115,148,47);
}
.journey-2 .journey-title-bottom{
    font-family: 'MyriadPro-Semibold';
    margin-top: 81px;
    margin-left: 159px;
    font-size: 19px;
    font-weight: bold;
    color: rgb(34,152,151);
}
.journey-2{
    position: relative;
}
.journey-2::after{
    content: "";
    position: absolute;
    top: 103px;
    left: 42px;
    background: url("../images/journey-2-bg.jpg");
    width:297px;
    height: 37px;
    background-size: 100%;
}
.student-journey-inner li.main-box{
    background: rgb(245,183,31);
    font-size: 26px;
}
.journey-1 .main-box{
    margin-left: 0;
}
.journey-2 .main-box{
    margin-right: 0;
}
.journey-1 > ul li::after{
    position: absolute;
    right: -50px;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    background: url("../images/angle-right-green.jpg");
    width: 27px;
    height: 31px;
} 
.journey-1 > ul li:last-child::after{
    background: url("../images/angle-right-blue.jpg");
    right: -65px;
}
.journey-2 > ul li::after{
    position: absolute;
    right: -50px;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    background: url("../images/angle-right-blue.jpg");
    width: 27px;
    height: 31px;
} 
.journey-2 > ul li:last-child::after{
    display: none;
}
.journey1-list , .journey2-list{
    margin-top: 33px;
}
.student-journey-inner .journey1-list ul li{
    color: rgb(0,0,0);
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}
.student-journey-inner .journey2-list ul li{
    color: rgb(0,0,0);
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
}
.journey1-list ul li .list-icon{
    width:auto;
    display: inline-block;
    min-width: 57px;
    vertical-align: top;
}
.journey2-list ul li .list-icon{
    width: auto;
    display: inline-block;
    vertical-align: middle;
    min-width: 57px;
}
.journey1-list ul li .list-text{
    font-family: 'MyriadPro-Semibold';
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    width: 80%;
    margin-left: 15px;
}
.student-journey-inner .journey-1 .journey1-list .list-text{color: #222;font-family: 'MyriadPro-Regular';font-weight:normal;}
.journey1-list ul li .list-text .list-text-title{
    font-family: 'MyriadPro-Semibold';
	color:rgb(115,148,47);
}
.journey2-list ul li .list-text{
    font-family: 'MyriadPro-Semibold';
    color: #222;
    font-size: 16px;
    display: inline-block;font-family: 'MyriadPro-Regular';font-weight:normal;
    vertical-align: middle;
    width: 80%;
    margin-left: 15px;
}
.journey2-list ul li .list-text .list-text-title{
     font-family: 'MyriadPro-Semibold';
	color:rgb(34,152,151);
}
.arrow-icon{
    margin: 39px 0 0 0;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.arrow-icon a{    transition: all 0.30s ease-in-out;display: inline-block;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;}
.arrow-icon a:hover{
	transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
}
.student-cta1{
    padding-top: 110px;
} 
.student-cta1 ul{
    text-align: center;
}
.student-cta1 ul.student-cta1-listing > li{
    width: 33%;
    display: inline-block;
    vertical-align: top;    
    margin-bottom: 112px;
}
.student-cta1 ul.student-cta1-listing > li:last-child{margin-bottom: 0;}
.student-cta1 ul.student-cta1-listing > li .intern-type{
    border: 2px solid rgb(115,148,47);
    border-radius: 35px;
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    padding:73px 20px 30px;
}
.student-cta1 ul.student-cta1-listing > li .intern-type .top-icon{
    position: absolute;
    top:-36px;
    max-width: 70px;
    left: 0;
    right: 0;
    margin: auto;
}
.student-cta1 ul.student-cta1-listing > li .intern-type .top-icon a{
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.student-cta1 ul.student-cta1-listing > li .intern-type .top-icon a img{
    z-index: 10;height: 67px;
    width: 100%;
    position: relative;
}
.student-cta1 ul.student-cta1-listing > li .intern-type .top-icon a:after{
    content: "";
    position: absolute;
    border: 6px solid rgb(115,148,47);
    top: 0;
    left: -10px;
    width: 90px;
    height: 90px;
    z-index: 9;
    bottom: 0;
    right: 0;
    margin: auto;
    transform: rotate(45deg);
    background: #fff;
}
.student-cta1 .intern-title{
    font-size: 26px;font-family: 'MyriadPro-Semibold';
    font-weight: bold;
    color: rgb(115,148,47);
}
.student-cta1 .intern-body{
    font-size: 20px;
    color: #000;
    font-weight: bold;
    /* max-width: 175px; */
	    font-weight: normal;
    margin: 5px auto 10px auto;
}
.student-cta1 .intern-read-more{
    font-size: 20px;
    margin: 10px 0;
}
.student-cta1 .intern-read-more a{
    font-weight: bold;
    color: rgb(115,148,47);
    font-style: italic;    
    text-align: center;
    text-decoration: underline!important;
    text-transform: capitalize;font-weight:normal;
}
.student-cta1 .intern-read-more a:hover
{
    color: #348786;
	font-family: 'MyriadPro-Semibold';
}
.student-cta1 .intern-read-more a:hover{
    text-decoration: none;
}
.student-cta1 .intern-price{
    color: rgb(115,148,47);
    font-size: 20px;
    font-family: 'MyriadPro-Semibold';
}
.student-cta1 .intern-link{
    margin-top: 20px;
}
.student-cta1 .intern-link a{
    font-size: 17px;
    font-weight: bold;
    display: inline-block;
	font-weight:normal;
    color: #fff;
    background: rgb(115,148,47);
    padding: 10px 10px;
    min-width: 110px;
    line-height: 1.2;
    border-radius: 10px;
    text-transform: capitalize;
    margin: 0 8px;
    border:2px solid transparent;
}
.student-cta1 .intern-link a:hover{
    border:2px solid rgb(115,148,47);
    background: none;
    color: rgb(115,148,47);
    text-decoration: none;
}
.student-cta1 .intern-desc {
    position: relative;
    border: 3px solid rgb(115,148,47);
    border-radius: 12px;
    min-height: 138px;
    max-width: 69%;
    margin: 27px auto 0;
}
.student-cta1 .intern-desc::before{
    position: absolute;
    top: -21px;
    right: 62px;
    content: "";
    border-top: 3px solid rgb(115,148,47);
    border-left: 3px solid rgb(115,148,47);
    height: 40px;
    width: 40px;
    transform: rotate(45deg);
    background: #fff;
}
.student-cta1 .intern-desc ul{
    text-align: left;
    padding: 22px 13px 14px 33px;
}
.student-cta1 .intern-desc ul li{
    color: rgb(115,148,47);  
    font-size: 20px;
    font-weight: bold;
    list-style-type: disc;
}
.student-cta1-bottom{
    margin-top:30px; 
}
.student-cta1-bottom-inner{
    background: rgb(245,183,31);
    max-width: 583px;
    margin: 0 auto;
    border-radius: 15px;
    text-align: center;
    padding: 17px 25px 15px 25px;
}
.student-cta1-bottom-inner .student-cta1-bottom-title{
    font-size: 30px;
    color: #fff;
    line-height: 1.2;
    font-family: 'MyriadPro-Semibold';
}
.student-cta1-bottom-inner .student-cta1-bottom-sub-title{
    font-size: 25px;
    color: #fff;
    line-height: 1.2;
    font-family: 'MyriadPro-Semibold';
    margin:0;
    padding: 6px 0 0px 0;
}
.student-cta1-bottom-inner .student-cta1-bottom-sub-title .new-price{
    font-style: italic;
    color: rgb(115,148,47);
}
.student-cta1-bottom-inner .buy-and-cart{
    margin-top: 9px;
}
.student-cta1-bottom-inner .buy-and-cart a {
	border: 2px solid #fff;    display: inline-block;
	color: #fff;
	font-size: 19px;
	text-decoration: none;font-family: 'MyriadPro-Semibold';
	border-radius: 10px;
	padding: 10px 27px;
	margin: 0 4px;
	text-transform: capitalize;
	font-weight: bold;
}
.student-cta1-bottom-inner .buy-and-cart a:hover{
    border-color:transparent;
    background: #fff;
    color: rgb(245,183,31);
}
.student-cta1-bottom-inner .read-more{
    margin-top: 14px;
    font-size: 25px;
    color: #fff;
    line-height: 1.2;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
}
.student-placement-title{
    background: rgb(115,148,47);
    padding: 15px 0;
    margin-top: 50px;
}
.student-placement-title .student-placement-title-inner{
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.right-choice{
   
}
.right-choice-inner1 .right-choice-inner-title{
    font-size: 40px;
    color: rgb(166,166,166);
    font-weight: bold;
    text-align: center;
	font-family: 'MyriadPro-Semibold';
}
.right-choice-inner1 .right-choice-inner-title .text-color{
    font-style: italic;
    color: rgb(34,152,151);
}
.student-cta2{
    margin-top: 90px;
}
.student-cta2 ul {
    text-align: center;
}
.student-cta2 ul.student-cta-listing > li {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.student-cta2 ul.student-cta-listing > li::after{
    position: absolute;
    right: -0.8vw;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    background: url("../images/arrow-green.jpg");
    width: 23px;
    height: 41px;
    background-size: 100% 100%;
}
.student-cta2 ul.student-cta-listing > li:last-child::after{
    display: none;
}
.student-cta2 ul.student-cta-listing > li .intern-type{
    border: 2px solid rgb(34,152,151);
    border-radius: 35px;
    position: relative;
    max-width: 300px;
    margin: 0 auto;
    padding: 80px 20px 30px;
} 
.student-cta2 ul.student-cta-listing > li .intern-type .top-icon{
    position: absolute;
    top: -30px;
    max-width: 70px;
    left: 0;
    right: 0;
    margin: auto;
}
.student-cta2 ul.student-cta-listing > li .intern-type .top-icon a{
    position: relative;
    display: inline-block;    
    vertical-align: top;
}
.student-cta2 ul.student-cta-listing > li .intern-type .top-icon a::after{
    content: "";
    position: absolute;
    border: 6px solid rgb(34,152,151);
    top: 0;
    left: -10px;
    width: 90px;
    height: 90px;
    z-index: 9;
    bottom: 0;
    right: 0;
    margin: auto;
    transform: rotate(45deg);
    background: #fff;
}
.student-cta2 ul.student-cta-listing > li .intern-type .top-icon a img{
    z-index: 10;
    position: relative;
    width: 80%;
}
.student-cta2 .intern-title{
    font-size: 25px;font-family: 'MyriadPro-Semibold';
    
    color: rgb(34,152,151);
}
.student-cta2 .intern-body{
    font-size: 17px;
    color: #000;
    font-family: 'MyriadPro-Semibold';
    max-width: 193px;
    margin: 10px auto;
}
.student-cta2 .intern-read-more{
    font-size: 20px;
    margin: 10px 0;
}
.student-cta2 .intern-read-more a{
    font-weight: bold;
    color: rgb(34,152,151);
    font-style: italic;    
    text-align: center;    
    text-decoration: underline!important;    
    text-transform: capitalize;
}
.student-cta2 .intern-price{
    font-size: 20px;
    font-family: 'MyriadPro-Semibold';
    color: rgb(34,152,151);
}
.student-cta2 .intern-link{
    margin-top: 20px;
}
.student-cta2 .intern-link a{
	font-weight:normal;
    font-size: 17px;
   font-family: 'MyriadPro-Semibold';
    display: inline-block;
    color: #fff;
    background: rgb(34,152,151);
    padding: 10px 10px;
    min-width: 107px;
    line-height: 1.2;
    border-radius: 10px;
    text-transform: capitalize;
    margin: 0 8px;
    border: 2px solid transparent;
}
.student-cta2 .intern-link a:hover{
    border-color: rgb(34,152,151);
    background: #fff;
    color: rgb(34,152,151);
    text-decoration: none;
}
.right-choice-inner2{
    margin-top: 12px;
    display: block;
    width: 100%;
    float: left;
}
.right-choice-inner2 .right-choice-inner-title{
    font-size: 40px;
    color: rgb(166,166,166);
    font-weight: bold;
    text-align: center;
}
.right-choice-inner2 .right-choice-inner-title .text-color{
    font-style: italic;
    color: rgb(34,152,151);
}
.right-choice-inner3{
    margin-top: 50px;
}
.right-choice-inner3 .right-choice-inner-title{
    font-size: 40px;
    color: rgb(166,166,166);
    font-weight: bold;
    text-align: center;
}
.right-choice-inner3 .right-choice-inner-title .text-color{
    font-style: italic;
    color: rgb(34,152,151);
}
.right-choice-inner3 .student-cta2 .intern-body{
    font-size: 18px;
}
/*responsive media queries*/
@media screen and (max-width: 1199px){
    .student-journey-inner ul li{
        width: 10.6vw;
        margin: 0 2.6vw;
    }
    .student-journey-inner ul li::after{
        right: -4vw;
    }
    .journey-1::after{
        right: 9vw;
        width: 16.7vw;
        background-size: 100% 100%;
    }
    .journey-2::after{
        right: 9vw;
        width: 16.7vw;
        background-size: 100% 100%;
    }
    .student-journey-inner li.main-box{
        font-size: 16px;
    }
    .journey-1 .journey-title-bottom{
        margin-right: 15vw;
    }
    .journey-2 .journey-title-bottom{
        margin-left: 14vw;
    }
}
@media screen and (max-width: 1175px){
    .logo-wrapper{
        width: 100%;
        text-align: center;
        padding: 15px 0;
    }
    .navigation-wrapper{
        display: inline-block;
        width: 100%;
        text-align: center;
    }
}
@media screen and (max-width: 1099px){
    .cta-home{
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 1024px){
    .navigation-wrapper{
        padding: 0;
        margin-bottom: 25px;
    }    
    .student-cta1 .intern-desc ul li{
        font-size: 16px;
    }
    .student-cta1 ul.student-cta1-listing > li{
        width: 299px;
        margin: 0 3px 96px 0;
    }
    .student-cta1 .intern-link a{
        margin: 0 6px;
    }
    .student-cta2 ul.student-cta-listing > li{
        width: 30%;
        margin: 0 11px;
    }
    .student-cta2 ul.student-cta-listing > li::after{
        right: -18px;
        width: 11.5px;
        height: 21.5px;
    }
    .student-cta2 .intern-link a{
        margin:  0 3px;
    }
    .student-cta2 .intern-title{
        font-size: 18px;
    }
    .right-choice-inner1 .right-choice-inner-title{
        font-size: 36px;
    }
    .right-choice-inner2 .right-choice-inner-title{
        font-size: 36px;
    }
    .right-choice-inner3 .right-choice-inner-title{
        font-size: 36px;
    }
}
@media screen and (max-width: 991px){    
    footer .footer-wrap{
        background: none;
    }
    footer .container{
        width: 100%;
    }
    .home-cta-wrapper{
        max-width: 550px;
        margin: 0 auto;
		float:none;
    }
    .student-journey-inner .student-ready{
        max-width: 50%;
    }
    .student-journey-inner .student-relevant{
        max-width: 50%;
    }   
    .journey-1 > ul li:last-child::after{
        right: -7vw;
    } 
}
@media screen and (max-width: 979px){
    .student-journey-inner .student-ready{
        padding: 0;
        text-align: center;
    }
    .student-journey-inner .student-relevant{
        padding: 0;
        text-align: center;
    }
    .student-journey-inner ul li{
        font-size: 14px;
    }
    .student-journey-inner ul li{
        margin: 0 2vw;
        width: 10vw;
    }
    .student-journey-inner li.main-box{
        font-size: 14px;
    }
    .journey-1::after{
        right: 10vw;
        width: 16vw;
    }
    .journey-1 .journey-title-bottom{
        margin-right: 15vw;
    }
    .journey-2::after{
        left: 10vw;
    }
    .journey-2 .journey-title-bottom{
        margin-left: -12vw;
    }
}
@media screen and (max-width: 943px){
    .footer-wrap .footer-menu1{
        width: 33%;
    }
    .footer-wrap .footer-menu2{
        width: 33%;
    }
    .footer-wrap .footer-logo-wrapper{
        width: 30%;
    }
}

@media screen and (max-width: 768px){
    .journey1-list ul li .list-icon{
        width: 100%;
        text-align: center;
    }
	
    .journey1-list ul li .list-icon img{
        max-width: 90px;
    }
    .journey2-list ul li .list-icon{
        width: 100%;
        text-align: center;
    }
    .journey2-list ul li .list-icon img{
        max-width: 90px;
    }
}
@media screen and (max-width: 767px){
    .social-icons{
        float: none;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        margin: 10px 0; 
    }
    .login-cart{
        float: none;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        margin: 0px 0;
    }
    .cart-wrapper{
        right: -38px;
        top: 54px;
    }
    footer{
        background: none;
        background-color:rgb(115,148,47); 
        padding: 20px 0;
    }
    .footer-wrap .footer-menu1{
        width: 100%;
        padding: 0;
    }
    .footer-wrap .footer-menu2{
        width: 100%;
        padding: 0;
    }
    .footer-wrap .footer-logo-wrapper{
        width: 100%;
        padding: 20px 0;
    }
    .icon-title{
        font-size: 16px;
    }
    .icon-text{
        font-size: 16px;
        padding: 41px 53px 40px 53px;
    }
    .student-title-inner{
        font-size: 26px;
    }
    .student-journey-inner .student-ready{
        max-width: 100%;
        padding: 0 15px;
    }
    .student-journey-inner .student-relevant{
        max-width: 100%;
        padding: 0 15px;
    }
    .student-journey-inner ul{
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
    .student-journey-inner ul li{
        width: 45%;
        margin: 0;
    }
    .student-journey-inner ul li::after{
        display: none;
    }
    .student-journey-inner ul li.box1{
        margin-right: 10%;
    }
    .journey-1 .main-box{
        max-width: 100%;
        margin: 0;
        margin-bottom: 50px;
        width: 100%;
    }
    .journey-2 .main-box{
        max-width: 100%;
        margin: 0;
        margin-top: 100px;
        width: 100%;
    }
    .journey-1::after{
        right: 0;
        width: 200px;
        left: 0;
        margin: auto;
        top: 251px;
    }
    .journey-2::after{
        right: 0;
        width: 200px;
        left: 0;
        margin: auto;
        top: 101px;
    }
    .journey-1 .journey-title-bottom{
        margin: 30px 0 0 0;
        text-align: center;
    }
    .journey1-list ul , .student-journey-inner ul{
        max-width: 100%;
    }
    .journey1-list ul li .list-icon{
        width: auto;
        display: block;
        max-width: 50px;
        margin: 0 auto 10px;
    }
    .journey1-list ul li .list-text{
        width: auto;
        margin-left: 0;
        font-size: 22px;
    }  
    .journey2-list ul li .list-icon{
        width: auto;
        display: block;
        max-width: 50px;
        margin: 0 auto 10px;
    }
    .journey2-list ul li .list-text{
        width: auto;
        margin-left: 0;
        font-size: 22px;
    }     
    .student-journey-inner .journey1-list ul li{
        margin-bottom: 40px;
    }
    .journey1-list, .journey2-list{
        margin-top: 40px;
    }
    .journey-2 .journey-title-bottom{
        margin-left: 0;
        position: absolute;
        top: 133px;
        left: 0;
        right: 0;
        margin: auto;
    }
    .student-journey-inner .journey1-list ul li{
        text-align: center;
    }
    .student-journey-inner .journey2-list ul li{
        text-align: center;
    }
    .student-cta1 ul.student-cta1-listing > li{
        width: 100%;
        margin: 0 0 80px;
    }
    .student-cta1 ul.student-cta1-listing > li:last-child{
        margin: 0 0 30px;
    }
    .student-cta1 .intern-desc{
        max-width: 300px;
    }
    .student-cta1-bottom-inner{
        padding: 25px 10px;
    }
    .student-cta1-bottom-inner .student-cta1-bottom-title{
        font-size: 23px;
    }
    .student-cta1-bottom-inner .student-cta1-bottom-sub-title{
        font-size: 20px;
    }
    .student-cta1-bottom-inner .buy-and-cart a{
        margin: 0 5px 6px 5px;
    }
    .student-placement-title .student-placement-title-inner{
        font-size: 34px;
    }
    body .student-cta2 ul.student-cta-listing > li{
        width: 100%;
        margin: 0 0 110px;
    }
    .student-cta2 ul.student-cta-listing > li:last-child{
        margin-bottom: 0;
    }
    .student-cta2 ul.student-cta-listing > li::after{
        display: none;
    }
}